@import '../../common/colors.scss';

.anime-list{
    margin: 2rem 0;
}

.anime-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}